/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
html,
body {
	height: 100%;
	font-family: "Nunito", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Nunito", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Nunito", sans-serif;
	color: #8d8d8d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title h2 {
	font-size: 40px;
	color: #353535;
	font-weight: 700;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	padding: 14px 25px 12px;
	color: #ffffff;
	background: #af3185;
	border-radius: 5px;
}

.primary-btn.white-btn {
	background: #ffffff;
	margin-left: 6px;
	color: #232323;
}

.site-btn {
	font-size: 15px;
	color: #ffffff;
	font-weight: 700;
	background: #6763fd;
	display: inline-block;
	padding: 9px 26px 8px;
	border-radius: 50px;
	border: none;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header.header--normal {
	position: relative;
	background: #290849;
}

.header__logo {
	padding: 25px 0;
	display: inline-block;
	margin-right: 250px;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	display: inline-block;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 82px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 110px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 2px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	display: block;
	padding: 26px 0 28px;
	position: relative;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #6763fd;
	content: "";
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.header__right {
	padding: 25px 0;
	text-align: right;
}

.header__right__search {
	display: inline-block;
	margin-right: 130px;
}

.header__right__search form {
	width: 225px;
	position: relative;
}

.header__right__search form input {
	width: 100%;
	height: 30px;
	font-size: 16px;
	color: #ffffff;
	opacity: 0.3;
	background: transparent;
	border: none;
}

.header__right__search form input::-webkit-input-placeholder {
	color: #ffffff;
}

.header__right__search form input::-moz-placeholder {
	color: #ffffff;
}

.header__right__search form input:-ms-input-placeholder {
	color: #ffffff;
}

.header__right__search form input::-ms-input-placeholder {
	color: #ffffff;
}

.header__right__search form input::placeholder {
	color: #ffffff;
}

.header__right__search form button {
	font-size: 16px;
	color: #ffffff;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.header__right__social {
	display: inline-block;
}

.header__right__social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 18px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__right__social a:hover {
	color: #6763fd;
}

.header__right__social a:last-child {
	margin-right: 0;
}

.canvas__open {
	display: none;
}

.offcanvas-menu-wrapper {
	display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero {
	padding-top: 240px;
	padding-bottom: 260px;
	position: relative;
}

.hero .container {
	padding: 0;
}

.hero__text {
	padding-top: 48px;
}

.hero__text h5 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}

.hero__text h5 span {
	color: #6763fd;
	margin-right: 5px;
}

.hero__text h2 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
	margin-bottom: 35px;
}

.hero__pic {
	height: 391px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.single__track {
	background: rgba(104, 99, 253, 0.2);
	padding: 35px 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.single__track__item__pic {
	float: left;
	margin-right: 20px;
}

.single__track__item__pic img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.single__track__item__text {
	overflow: hidden;
	padding-top: 6px;
}

.single__track__item__text h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 10px;
}

.single__track__item__text span {
	color: #ffffff;
	font-size: 15px;
	display: block;
}

.single__track__option {
	padding-top: 12px;
}

.jp-play {
	position: relative;
	height: 36px;
	width: 36px;
	background: transparent;
	border: none;
	background: #6763fd;
	border-radius: 50%;
}

.jp-play:after {
	position: absolute;
	display: block;
	left: 3px;
	top: -4px;
	content: "E";
	font-family: "ElegantIcons";
	font-size: 30px;
	color: #ffffff;
}

.jp-state-playing .jp-play:after {
	content: "`" !important;
	font-family: "ElegantIcons";
	font-size: 32px;
	left: 2px;
	top: -6px;
	color: #151433;
}

.jp-audio .jp-play:focus:after {
	content: "E";
	font-family: "ElegantIcons";
}

.jp-seek-bar>div {
	height: 5px;
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	width: 320px;
}

.player_bars {
	width: 420px;
	display: table;
	padding-left: 50px;
	position: relative;
	padding-top: 18px;
	float: left;
	margin-right: 18px;
}

.jp-play-bar {
	position: relative;
	height: 100%;
	background: #6763fd;
	overflow: visible !important;
}

.jp-current-time {
	font-size: 15px;
	font-weight: 700;
	color: #ffffff;
	position: absolute;
	left: -50px;
	top: -10px;
}

.jp-duration {
	font-size: 15px;
	font-weight: 700;
	color: #ffffff;
	position: absolute;
	right: 0;
	top: 9px;
}

.player_controls_box {
	width: 36px;
	float: left;
	margin-right: 15px;
}

.jp-mute {
	font-size: 14px;
	border: none;
	background: none;
	color: #ffffff;
	position: absolute;
	left: -5px;
	top: 10px;
}

.jp-volume-bar {
	height: 4px;
	width: 50px;
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.jp-volume-bar-value {
	background: #6763fd;
	height: 100%;
}

.jp-mute {
	font-size: 14px;
	color: #ffffff;
}

.jp-volume-controls {
	position: relative;
	width: 80px;
	float: left;
	padding-left: 30px;
	padding-top: 18px;
	margin-right: 30px;
}

.jp-btns {
	padding-top: 8px;
	float: left;
}

.jp-btns a {
	font-size: 15px;
	color: #ffffff;
	margin-right: 15px;
}

.jp-btns a:last-child {
	margin-right: 0;
}

/*---------------------
  Podcast
-----------------------*/

.podcast {
	padding-bottom: 70px;
}

.podcast .container {
	padding: 0;
}

.podcast__top {
	margin-bottom: 45px;
}

.podcast__top h2 {
	color: #353535;
	font-size: 40px;
	font-weight: 700;
}

.podcast__top ul {
	text-align: right;
}

.podcast__top ul li {
	list-style: none;
	font-size: 18px;
	font-weight: 700;
	color: #b7b7b7;
	display: inline-block;
	margin-right: 40px;
	position: relative;
	padding: 2px 0;
	cursor: pointer;
}

.podcast__top ul li.active {
	color: #6763fd;
}

.podcast__top ul li.active:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.podcast__top ul li:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #6763fd;
	content: "";
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.podcast__top ul li:last-child {
	margin-right: 0;
}

.podcast__item {
	margin-bottom: 30px;
}

.podcast__item__pic {
	float: left;
	
}

.podcast__item__pic img {
	border-radius: 20px 0 0 20px;
}

.podcast__item__text {
	border: 1px solid #ebebeb;
	padding: 45px 35px 46px 40px;
	overflow: hidden;
	border-radius: 0 20px 20px 0;
	position: relative;
}

.podcast__item__text .heart-icon {
	display: inline-block;
	height: 36px;
	width: 36px;
	color: #6763fd;
	border-radius: 50%;
	line-height: 36px;
	text-align: center;
	background: rgba(104, 99, 253, 0.1);
	position: absolute;
	right: 40px;
	top: 30px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.podcast__item__text .heart-icon:hover {
	background: #6763fd;
	color: #ffffff;
}

.podcast__item__text ul {
	margin-bottom: 20px;
}

.podcast__item__text ul li {
	color: #b7b7b7;
	font-size: 15px;
	display: inline-block;
	margin-right: 45px;
	position: relative;
	list-style: none;
}

.podcast__item__text ul li:after {
	position: absolute;
	right: -26px;
	top: -2px;
	content: "|";
}

.podcast__item__text ul li span {
	color: #6763fd;
	margin-right: 3px;
}

.podcast__item__text ul li:last-child {
	margin-right: 0;
}

.podcast__item__text ul li:last-child:after {
	display: none;
}

.podcast__item__text h4 {
	color: #353535;
	font-weight: 700;
	margin-bottom: 15px;
}

.podcast__item__text p {
	margin-bottom: 38px;
}

.track__option .jp-seek-bar>div {
	background: rgba(104, 99, 253, 0.1);
}

.track__option .jp-current-time {
	color: #353535;
}

.track__option .jp-duration {
	color: #353535;
}

.track__option .jp-mute {
	color: #353535;
}

.track__option .jp-volume-bar {
	background: rgba(103, 99, 125, 0.1);
}

.track__option .jp-btns a {
	color: #b7b7b7;
}

/*---------------------
  Call To Action
-----------------------*/

.callto {
	padding-top: 110px;
	padding-bottom: 120px;
}

.callto__text {
	text-align: center;
}

.callto__text h2 {
	color: #ffffff;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 20px;
}

.callto__text p {
	color: #ffffff;
	font-size: 22px;
	margin-bottom: 45px;
}

/*---------------------
  Episodes
-----------------------*/

.episodes {
	padding-bottom: 165px;
}

.episodes__item {
	height: 370px;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 30px;
}

.episodes__item:hover .play-btn {
	opacity: 1;
	z-index: 9;
}

.episodes__item:hover .episodes__text {
	bottom: 25px;
}

.episodes__item:hover .episodes__text h4 {
	margin-bottom: 10px;
}

.episodes__item .play-btn {
	opacity: 0;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.episodes__item .tags {
	font-size: 13px;
	color: #ffffff;
	font-weight: 700;
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	padding: 6px 15px 6px;
	border-radius: 50px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.episodes__item .tags span {
	margin-right: 2px;
}

.episodes__item .time {
	font-size: 13px;
	color: #ffffff;
	font-weight: 700;
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	padding: 6px 15px 6px;
	border-radius: 50px;
	position: absolute;
	right: 20px;
	top: 20px;
}

.episodes__item .time span {
	margin-right: 5px;
}

.episodes__text {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	padding: 0 30px;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.episodes__text h4 {
	color: #ffffff;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 50px;
	-webkit-transition: all, 0.2s;
	-o-transition: all, 0.2s;
	transition: all, 0.2s;
}

.episodes__text p {
	color: #ffffff;
	margin-bottom: 0;
}

.episodes__text p span {
	color: #6763fd;
}

/*---------------------
  Footer
-----------------------*/

.footer {
	padding-bottom: 60px;
}

.footer__subscriber {
	background: #0a0a0a;
	padding: 40px;
	border-radius: 10px;
	top: -65px;
	position: relative;
}

.footer__subscriber__text h3 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 5px;
}

.footer__subscriber__text p {
	color: #ffffff;
	margin-bottom: 0;
}

.footer__subscriber__form {
	position: relative;
	margin-top: 7px;
}

.footer__subscriber__form input {
	height: 52px;
	width: 100%;
	padding-left: 28px;
	background: #ffffff;
	border: none;
	color: #b7b7b7;
	border-radius: 50px;
}

.footer__subscriber__form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.footer__subscriber__form input::-moz-placeholder {
	color: #b7b7b7;
}

.footer__subscriber__form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.footer__subscriber__form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.footer__subscriber__form input::placeholder {
	color: #b7b7b7;
}

.footer__subscriber__form button {
	position: absolute;
	right: 7px;
	top: 6px;
}

.footer__logo {
	float: left;
	margin-right: 15px;
}

.footer__copyright__text {
	overflow: hidden;
	color: #ffffff;
	margin-bottom: 0;
	line-height: 31px;
}

.footer__copyright__text i {
	color: #6763fd;
}

.footer__copyright__text a {
	color: #6763fd;
}

.footer__social {
	text-align: right;
}

.footer__social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 18px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.footer__social a:hover {
	color: #6763fd;
}

.footer__social a:last-child {
	margin-right: 0;
}

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
	padding-top: 200px;
	padding-bottom: 240px;
	position: relative;
	overflow: hidden;
}

.breadcrumb-option.normal-breadcrumb {
	padding-bottom: 100px;
}

.breadcrumb-option .container {
	padding-left: 0;
	padding-right: 0;
}

.breadcrumb__text {
	text-align: center;
}

.breadcrumb__text.episodes__breadcrumb__text {
	text-align: left;
}

.breadcrumb__text.episodes__breadcrumb__text ul {
	margin-bottom: 15px;
}

.breadcrumb__text.episodes__breadcrumb__text ul li {
	color: #ffffff;
	font-size: 15px;
	display: inline-block;
	margin-right: 45px;
	position: relative;
	list-style: none;
}

.breadcrumb__text.episodes__breadcrumb__text ul li:after {
	position: absolute;
	right: -26px;
	top: -2px;
	content: "|";
	color: #404040;
}

.breadcrumb__text.episodes__breadcrumb__text ul li span {
	color: #6763fd;
	margin-right: 3px;
}

.breadcrumb__text.episodes__breadcrumb__text ul li:last-child {
	margin-right: 0;
}

.breadcrumb__text.episodes__breadcrumb__text ul li:last-child:after {
	display: none;
}

.breadcrumb__text.episodes__breadcrumb__text h2 {
	margin-bottom: 0;
}

.breadcrumb__text h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 6px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #ffffff;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "";
	font-family: "FontAwesome";
}

.breadcrumb__links a i {
	margin-right: 5px;
}

.breadcrumb__links span {
	font-size: 15px;
	color: #b7b7b7;
	display: inline-block;
}

/*---------------------
  About
-----------------------*/

.about__text {
	margin-bottom: 30px;
}

.about__text span {
	color: #6763fd;
	font-size: 16px;
	font-weight: 700;
	display: block;
	margin-bottom: 5px;
}

.about__text h2 {
	color: #353535;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 14px;
}

.about__text p {
	margin-bottom: 35px;
}

.about__item {
	margin-bottom: 30px;
}

.about__item h6 {
	color: #353535;
	font-size: 17px;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 15px;
}

.about__item p {
	margin-bottom: 0;
}

.about__pic {
	padding-top: 25px;
}

.about__pic img {
	min-width: 100%;
}

/*---------------------
  Team
-----------------------*/

.team {
	padding-bottom: 135px;
}

.team .section-title h2 {
	font-size: 44px;
}

.team__item {
	text-align: center;
	margin-bottom: 30px;
}

.team__item img {
	min-width: 100%;
	border-radius: 20px;
	margin-bottom: 30px;
}

.team__item h4 {
	color: #353535;
	font-size: 22px;
	font-weight: 700;
}

.team__item span {
	font-size: 14px;
	color: #6763fd;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*---------------------
  Episodes
-----------------------*/

.podcast.podcast--page {
	padding-bottom: 165px;
}

.load__more {
	padding-top: 30px;
}

.load__more a {
	font-size: 14px;
	color: #232323;
	font-weight: 700;
	display: inline-block;
	border: 2px solid #6763fd;
	padding: 10px 35px;
	border-radius: 50px;
}

/*---------------------
  Contact
-----------------------*/

.contact {
	padding-bottom: 165px;
}

.contact__map {
	height: 500px;
	margin-bottom: 30px;
}

.contact__map iframe {
	width: 100%;
}

.contact__widget__item {
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 55px 40px 40px;
	margin-bottom: 30px;
}

.contact__widget__item h4 {
	color: #353535;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 10px;
}

.contact__widget__item p {
	margin-bottom: 0;
}

.contact__widget__item p span {
	display: block;
}

.contact__form {
	padding-top: 60px;
}

.contact__form h2 {
	color: #353535;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 45px;
	text-align: center;
}

.contact__form form input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	color: #8d8d8d;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
}

.contact__form form input::-webkit-input-placeholder {
	color: #8d8d8d;
}

.contact__form form input::-moz-placeholder {
	color: #8d8d8d;
}

.contact__form form input:-ms-input-placeholder {
	color: #8d8d8d;
}

.contact__form form input::-ms-input-placeholder {
	color: #8d8d8d;
}

.contact__form form input::placeholder {
	color: #8d8d8d;
}

.contact__form form textarea {
	height: 150px;
	width: 100%;
	font-size: 15px;
	color: #8d8d8d;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 20px;
	border-radius: 5px;
	margin-bottom: 34px;
	padding-top: 14px;
	resize: none;
}

.contact__form form textarea::-webkit-input-placeholder {
	color: #8d8d8d;
}

.contact__form form textarea::-moz-placeholder {
	color: #8d8d8d;
}

.contact__form form textarea:-ms-input-placeholder {
	color: #8d8d8d;
}

.contact__form form textarea::-ms-input-placeholder {
	color: #8d8d8d;
}

.contact__form form textarea::placeholder {
	color: #8d8d8d;
}

.contact__form form button {
	border-radius: 5px;
	padding: 14px 38px 12px;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) and (max-width: 1629px) {
	.header__logo {
		margin-right: 70px;
	}
	.header__right__search form {
		width: 205px;
	}
	.header__right__search {
		margin-right: 10px;
	}
	.header__right__social a {
		margin-right: 15px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__logo {
		margin-right: 35px;
	}
	.header__menu {
		margin-right: 30px;
	}
	.header__right__search {
		margin-right: 5px;
	}
	.header__right__search form {
		width: 185px;
	}
	.header__right__social a {
		margin-right: 5px;
	}
	.header__menu ul li {
		margin-right: 10px;
	}
	.player_bars {
		width: 280px;
	}
	.jp-seek-bar>div {
		width: 180px;
	}
	.track__option .player_bars {
		width: 230px;
	}
	.track__option .jp-seek-bar>div {
		width: 130px;
	}
	.podcast__item__text {
		padding: 16px 35px 22px 40px;
	}
	.blog__item__pic {
		width: 280px;
	}
	.blog__item__text {
		padding: 25px 30px 27px 30px;
	}
}
	
/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #ffffff;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #ffffff;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 22px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #222;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__menu {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #ffffff;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_arrow {
		color: #ffffff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #353535;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #353535;
	}
	.slicknav_nav {
		display: block !important;
	}
	.offcanvas__logo {
		margin-bottom: 30px;
	}
	.offcanvas__social a {
		display: inline-block;
		font-size: 16px;
		color: #ffffff;
		margin-right: 18px;
		-webkit-transition: all, 0.3s;
		-o-transition: all, 0.3s;
		transition: all, 0.3s;
	}
	.offcanvas__social a:hover {
		color: #6763fd;
	}
	.offcanvas__social a:last-child {
		margin-right: 0;
	}
	.offcanvas__search {
		margin-bottom: 30px;
	}
	.offcanvas__search form {
		position: relative;
	}
	.offcanvas__search form input {
		width: 100%;
		height: 30px;
		font-size: 16px;
		color: #ffffff;
		background: transparent;
		border: none;
	}
	.offcanvas__search form input::-webkit-input-placeholder {
		color: #ffffff;
	}
	.offcanvas__search form input::-moz-placeholder {
		color: #ffffff;
	}
	.offcanvas__search form input:-ms-input-placeholder {
		color: #ffffff;
	}
	.offcanvas__search form input::-ms-input-placeholder {
		color: #ffffff;
	}
	.offcanvas__search form input::placeholder {
		color: #ffffff;
	}
	.offcanvas__search form button {
		font-size: 16px;
		color: #ffffff;
		border: none;
		background: transparent;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
	}
	.header__logo {
		margin-right: 0;
	}
	.header__menu {
		display: none;
	}
	.header__right {
		display: none;
	}
	.hero__text {
		padding-top: 0;
		margin-bottom: 40px;
	}
	.hero .container {
		padding: 0 15px;
	}
	.hero__pic {
		margin-bottom: 50px;
	}
	.player_bars {
		width: 200px;
		margin-right: 12px;
	}
	.jp-seek-bar>div {
		width: 100px;
	}
	.jp-volume-controls {
		position: relative;
		width: 50px;
		float: left;
		padding-left: 30px;
		padding-top: 18px;
		margin-right: 30px;
	}
	.jp-volume-bar {
		width: 20px;
	}
	.jp-volume-controls {
		margin-right: 15px;
	}
	.podcast .container {
		padding: 0 15px;
	}
	.podcast__item__pic {
		float: none;
	}
	.podcast__item__pic img {
		border-radius: 20px 20px 0 0;
		min-width: 100%;
	}
	.podcast__item__text {
		border-radius: 0 0 20px 20px;
		padding: 45px 35px 46px 30px;
	}
	.podcast__top h2 {
		margin-bottom: 30px;
	}
	.podcast__top ul {
		text-align: left;
	}
	.podcast__top ul li {
		margin-right: 20px;
	}
	.single__track__item {
		margin-bottom: 15px;
	}
	.footer__widget {
		margin-bottom: 30px;
	}
	.footer__logo {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.footer__social {
		text-align: left;
	}
	.footer__subscriber__text {
		margin-bottom: 30px;
	}
	.breadcrumb-option .container {
		padding: 0 15px;
	}
	.episodes__details__btns:after {
		display: none;
	}
	.episodes__details__btns__item {
		display: block;
		margin-bottom: 20px;
	}
	.sidebar {
		padding-top: 50px;
	}
	.blog__item__pic {
		width: 100%;
		float: none;
		border-radius: 20px 20px 0 0;
	}
	.blog__item__text {
		border-radius: 0 0 20px 20px;
	}
	.blog__details__btns__item {
		display: block;
		margin-bottom: 15px;
	}
	.blog__details__btns:after {
		display: none;
	}
	.blog__hero__text ul li {
		margin-right: 20px;
	}
	.blog__hero__text ul li:after {
		display: none;
	}
	.breadcrumb__text.episodes__breadcrumb__text ul li {
		margin-right: 25px;
	}
	.breadcrumb__text.episodes__breadcrumb__text ul li:after {
		display: none;
	}
	.jp-volume-controls {
		display: none;
	}
	.player_bars {
		width: calc(100% - 70px);
	}
	.jp-seek-bar>div {
		width: calc(100% - 50px);
	}
	.jp-btns {
		float: none;
		padding-top: 60px;
	}
}

